body{
    background-color: #0021A4;
    color: #FA4616;
    font-family: arial;
}

h1{
    color: #FA4616;
    font-family: cursive;
}

p{
    color: white;
    font-family: arial;
}

a{
    color: #FA4616;
    text-decoration: none;
}

table{
    width: 1105px;
    text-align: center;
    border: 1px solid white;
}

td{
    color: white;
    border: 1px solid white;
}

th{
    border: 1px solid white;
}
